body {
width: 800px;
margin-right: auto;
margin-left: auto;

margin-top: 1%;
font-family: garamond, geneva;
}



/*  HEADER AND FOOTER  */

#banner{
  width: auto;
  text-align:center;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 3%;
  margin-bottom:3%;
}

#head {
/*float: left;
width: 9%;
*/
padding-right: 0; 
padding-top: 3.75%; 
padding-left: 3%; 
color:#792a2f;
}

#chunfu{
  color: #BE0000;
  font-size: 1.4em;
}

#tabulary {
/*float: right;*/
display: inline;
width: 20%;
padding-left: 1%;
/*padding-top: 3.5%;*/
}

#mysubmit {
box-shadow: 3px 3px 2px #63544f;
}

#sourcestring {
border-radius: 3px 3px 3px 3px;
box-shadow: 1px 1px 1px #0D0D0D;
margin-bottom: 1%; 
}

hr {
margin-right: auto;
margin-left: auto;
border: none; 
background-color: #0F153D; 
height: 2px;
}

#footer {
  position: bottom;
  font-size: 90%;
  padding-top: 3.75%;
  padding-left: 3%;
}
#sources{
  font-size: 80%;
}


/*  INTRO  */

#intro{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 30px;
}



/*  TABLE  */

#expo {
clear: both;
}

#tabulous{
  margin: auto;
  font-family: geneva;
}
#tabulous > th,tr,td{
    color: black;
    /*margin: 1% 10%;*/
    /*padding: 10px 20px;*/
    padding-top:7px;
    padding-bottom:4px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
#tabulous td{
 padding-left:7px;
 padding-right:7px;
 
}
#tabulous td table{
 width:99%;
}

#top {
/*border-top: 2px solid black;*/
padding-left: 10%;
padding-top: 2%;
padding-bottom: 0;
}

#topnumber {
/*padding-right: 6%;*/
}

span.vip {
  background-color: #FF9;
}

.together {
border-collapse: collapse; /*this doesnt seem to be necessary ???*/
}

td.low{
  vertical-align: bottom;
}

a {
color: #bc3539;
}

a:hover {
color: #7b2c31;
}

.separate {
border-top: 1px solid #BE0000;
}

.join {
border-top: 1px solid green;
}

.summary {
border-top-style: double;
border-top-color: grey; 
}

/* UNUSED CLASSES */
/*
table {
background-color: #cc0000;
padding: 1%;
}

.single {
}

#bottom {
border-bottom: 2px solid black;
}
#toprow {
padding-left: 100;
}

*/
/*
#horizontal-grid-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../images/grid-horz.png);
	display: none;
	padding: 10px;
}*/
